Repository virtualsatellite/VirtualSatellite4-Core, pull requests merged in 2019-04, with the labels that each got.

#6 Feature/task 3 update readme
  README.md
Labels: release

#13 Release 4.9.0 #2
  .codecov.yml
  .travis.yml
Labels: build, release

#14 Integration 4.9.0 - Remerge Versions #2
  .codecov.yml
  .travis.yml
Labels: build, quality, release

#16 Release 4.9.0 #3
  de.dlr.sc.virsat.p2updatesite/category.xml
  de.dlr.sc.virsat.target/tmodel-src/core_development.tmodel
  de.dlr.sc.virsat.target/tmodel-src/core_integration.tmodel
  de.dlr.sc.virsat.target/tmodel-src/core_release_4_9_0.tmodel
Labels: build, release

#18 Release 4.9.0 #4
  de.dlr.sc.virsat.target.feature/feature.xml
  de.dlr.sc.virsat.target/tmodel-src/core_release_4_9_0.tmodel
Labels: bug, comfort/usability, release

#15 Integration 4.9.0 - Remerge Versions #3
  de.dlr.sc.virsat.p2updatesite/category.xml
  de.dlr.sc.virsat.target.feature/feature.xml
  de.dlr.sc.virsat.target/tmodel-src/core_development.tmodel
  de.dlr.sc.virsat.target/tmodel-src/core_integration.tmodel
  de.dlr.sc.virsat.target/tmodel-src/core_release_4_9_0.tmodel
Labels: build, release
