Repository virtualsatellite/VirtualSatellite4-Core, pull requests merged in 2020-08, with the labels that each got.

#719 Integration 4.12.0 - Remerge Fixes
  de.dlr.sc.virsat.build.test/src/de/dlr/sc/virsat/build/inheritance/VirSatInheritanceBuilderTest.java
  de.dlr.sc.virsat.build/src/de/dlr/sc/virsat/build/inheritance/AVirSatTransactionalBuilder.java
  de.dlr.sc.virsat.build/src/de/dlr/sc/virsat/build/inheritance/VirSatInheritanceBuilder.java
  de.dlr.sc.virsat.docs.feature/docs/VirSat_Core_ReleaseNotes.txt
  de.dlr.sc.virsat.model.calculation/src/de/dlr/sc/virsat/model/calculation/compute/IncrementalEquationBuilder.java
  de.dlr.sc.virsat.model.concept/xtend-gen/de/dlr/sc/virsat/model/concept/generator/IGeneratorGapGenerator.java
  de.dlr.sc.virsat.project.test/src/de/dlr/sc/virsat/project/structure/VirSatProjectResourceChangeListenerTest.java
  de.dlr.sc.virsat.swtbot.test/src/de/dlr/sc/virsat/swtbot/test/versioningbackend/AVersioningBackendTest.java
  de.dlr.sc.virsat.swtbot.test/src/de/dlr/sc/virsat/swtbot/test/versioningbackend/GitVersioningBackendTest.java
  de.dlr.sc.virsat.team.test/src/de/dlr/sc/virsat/team/AVirSatVersionControlBackendTest.java
  de.dlr.sc.virsat.team.test/src/de/dlr/sc/virsat/team/svn/VirSatSvnVersionControlBackendTest.java
  de.dlr.sc.virsat.team.ui/src/de/dlr/sc/virsat/team/ui/handler/git/GitCommitHandler.java
  de.dlr.sc.virsat.team.ui/src/de/dlr/sc/virsat/team/ui/handler/git/GitUpdateHandler.java
  de.dlr.sc.virsat.team/src/de/dlr/sc/virsat/team/git/VirSatGitVersionControlBackend.java
  de.dlr.sc.virsat.team/src/de/dlr/sc/virsat/team/svn/VirSatSvnVersionControlBackend.java
  de.dlr.sc.virsat.test/src/de/dlr/sc/virsat/test/ProjectAllTest.java
Labels: release

#706 Updated handling of set and add in TypeSafeArrayInstanceList - (Task #705)
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/list/TypeSafeArrayInstanceList.java
  de.dlr.sc.virsat.model.extension.tests.test/src/de/dlr/sc/virsat/model/extension/tests/model/TestCategoryIntrinsicArrayStaticTest.java
Labels: feature

#727 Added missing ed for existing projects to ServerRepository- (Task #726)
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/repository/ServerRepositoryTest.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/repository/ServerRepository.java
Labels: Server, bug

#728 Initializing value of cell editor for reference properties - (Task #86)
  de.dlr.sc.virsat.uiengine.ui/src/de/dlr/sc/virsat/uiengine/ui/cellEditor/aproperties/ReferencePropertyCellEditingSupport.java
Labels: bug, ui
