Repository virtualsatellite/VirtualSatellite4-Core, pull requests merged in 2020-05, with the labels that each got.

#570 SWTBot: Added: FuncElectrical Diagram test cases - (Task #568)
  de.dlr.sc.virsat.swtbot.test/META-INF/MANIFEST.MF
  de.dlr.sc.virsat.swtbot.test/src/de/dlr/sc/virsat/swtbot/test/ASwtBotTestCase.java
  de.dlr.sc.virsat.swtbot.test/src/de/dlr/sc/virsat/swtbot/test/FuncElectricalDiagramTest.java
  de.dlr.sc.virsat.swtbot.test/src/de/dlr/sc/virsat/swtbot/test/ProjectUiAllTests.java
Labels: quality

#593 Added test resources to binary build
  de.dlr.sc.virsat.server.test/build.properties
Labels: Server, bug

#596 Created Mat import/export wizards - (Task #595)
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/dvlm/mat/MatImporter.java
  de.dlr.sc.virsat.model.extension.tests.test/src/de/dlr/sc/virsat/model/dvlm/mat/MatImporterTest.java
  de.dlr.sc.virsat.uiengine.ui/META-INF/MANIFEST.MF
  de.dlr.sc.virsat.uiengine.ui/plugin.xml
  de.dlr.sc.virsat.uiengine.ui/resources/icons/VirSat_Mat.gif
  de.dlr.sc.virsat.uiengine.ui/src/de/dlr/sc/virsat/uiengine/ui/mat/AMatImportExportPage.java
  de.dlr.sc.virsat.uiengine.ui/src/de/dlr/sc/virsat/uiengine/ui/mat/MatExportPage.java
  de.dlr.sc.virsat.uiengine.ui/src/de/dlr/sc/virsat/uiengine/ui/mat/MatExportWizard.java
  de.dlr.sc.virsat.uiengine.ui/src/de/dlr/sc/virsat/uiengine/ui/mat/MatImportPage.java
  de.dlr.sc.virsat.uiengine.ui/src/de/dlr/sc/virsat/uiengine/ui/mat/MatImportWizard.java
  de.dlr.sc.virsat.uiengine.ui/src/de/dlr/sc/virsat/uiengine/ui/wizard/AImportExportPage.java
Labels: feature, ui

#601 Remove UI plugins from concept tests - (Task #600)
  de.dlr.sc.virsat.model.concept.test/META-INF/MANIFEST.MF
  de.dlr.sc.virsat.model.concept.test/build.properties
  de.dlr.sc.virsat.model.concept.test/fragment.xml
  de.dlr.sc.virsat.model.concept.test/src/de/dlr/sc/virsat/model/concept/test/TestActivator.java
  de.dlr.sc.virsat.model.concept.test/src/de/dlr/sc/virsat/model/concept/test/TestExecutableExtensionFactory.java
Labels: build, ui

#602 Fix NPE in ScrollRedirectListner if no scroallable parent exists
  de.dlr.sc.virsat.uiengine.ui/src/de/dlr/sc/virsat/uiengine/ui/swt/forms/VirSatMouseWheelScrollRedirectListener.java
Labels: ui

#569 PR #3 for User Context Implementation - EditingDomain adjustments
  de.dlr.sc.virsat.build.test/src/de/dlr/sc/virsat/build/validator/VirSatValidatorBuilderTest.java
  de.dlr.sc.virsat.build.test/src/de/dlr/sc/virsat/build/validator/core/DvlmResolvedStructuralElementInstanceValidatorTest.java
  de.dlr.sc.virsat.build/src/de/dlr/sc/virsat/build/inheritance/AVirSatBuilder.java
  de.dlr.sc.virsat.build/src/de/dlr/sc/virsat/build/inheritance/AVirSatTransactionalBuilder.java
  de.dlr.sc.virsat.build/src/de/dlr/sc/virsat/build/inheritance/VirSatInheritanceBuilder.java
  de.dlr.sc.virsat.commons.test/src/de/dlr/sc/virsat/commons/exception/AtomicExceptionReferenceTest.java
  de.dlr.sc.virsat.commons/src/de/dlr/sc/virsat/commons/exception/AtomicExceptionReference.java
  de.dlr.sc.virsat.graphiti.test/src/de/dlr/sc/virsat/graphiti/diagram/ToolBehaviorProviderTest.java
  de.dlr.sc.virsat.graphiti.test/src/de/dlr/sc/virsat/graphiti/test/AllTests.java
  de.dlr.sc.virsat.graphiti.test/src/de/dlr/sc/virsat/graphiti/util/DiagramHelperTest.java
  de.dlr.sc.virsat.graphiti/src/de/dlr/sc/virsat/graphiti/diagram/ToolBehaviorProvider.java
  de.dlr.sc.virsat.graphiti/src/de/dlr/sc/virsat/graphiti/util/DiagramHelper.java
  de.dlr.sc.virsat.model.calculation.test/src/de/dlr/sc/virsat/model/calculation/compute/EquationHelperTest.java
  de.dlr.sc.virsat.model.calculation.test/src/de/dlr/sc/virsat/model/calculation/compute/IncrementalEquationBuilderTest.java
  de.dlr.sc.virsat.model.calculation.ui/src/de/dlr/sc/virsat/model/calculation/ui/editor/snippet/UiSnippetEquations.java
  de.dlr.sc.virsat.model.calculation/src/de/dlr/sc/virsat/model/calculation/compute/EquationHelper.java
  de.dlr.sc.virsat.model.calculation/src/de/dlr/sc/virsat/model/calculation/compute/IncrementalEquationBuilder.java
  de.dlr.sc.virsat.model.concept.feature/feature.xml
  de.dlr.sc.virsat.model.ext.core.feature/feature.xml
  de.dlr.sc.virsat.model.extension.statemachines.test/src/de/dlr/sc/virsat/model/extension/statemachines/validator/ValidatorTest.java
  de.dlr.sc.virsat.model.extension.tests.test/src/de/dlr/sc/virsat/apps/api/external/ModelAPITest.java
  de.dlr.sc.virsat.model/src/de/dlr/sc/virsat/model/dvlm/roles/RightsHelper.java
  de.dlr.sc.virsat.project.test/META-INF/MANIFEST.MF
  de.dlr.sc.virsat.project.test/build.properties
  de.dlr.sc.virsat.project.test/fragment.xml
  de.dlr.sc.virsat.project.test/src/de/dlr/sc/virsat/project/editingDomain/VirSatEditingDomainRegistryTest.java
  de.dlr.sc.virsat.project.test/src/de/dlr/sc/virsat/project/editingDomain/VirSatTransactionalEditingDomainTest.java
  de.dlr.sc.virsat.project.test/src/de/dlr/sc/virsat/project/editingDomain/VirSatWorkspaceCommandStackTest.java
  de.dlr.sc.virsat.project.test/src/de/dlr/sc/virsat/project/resources/VirSatDanglingReferencesTest.java
  de.dlr.sc.virsat.project.test/src/de/dlr/sc/virsat/project/resources/VirSatResourceSetTest.java
  de.dlr.sc.virsat.project.test/src/de/dlr/sc/virsat/project/resources/command/AssignDisciplineCommandTest.java
  de.dlr.sc.virsat.project.test/src/de/dlr/sc/virsat/project/test/AProjectTestCase.java
  de.dlr.sc.virsat.project.test/src/de/dlr/sc/virsat/project/test/AllTests.java
  de.dlr.sc.virsat.project.test/src/de/dlr/sc/virsat/project/test/TestInvocationCheckBuilder.java
  de.dlr.sc.virsat.project.test/src/de/dlr/sc/virsat/project/test/TestNature.java
  de.dlr.sc.virsat.project/src/de/dlr/sc/virsat/project/editingDomain/VirSatEditingDomainRegistry.java
  de.dlr.sc.virsat.project/src/de/dlr/sc/virsat/project/editingDomain/VirSatTransactionalEditingDomain.java
  de.dlr.sc.virsat.project/src/de/dlr/sc/virsat/project/editingDomain/VirSatWorkspaceCommandStack.java
  de.dlr.sc.virsat.project/src/de/dlr/sc/virsat/project/resources/VirSatResourceSet.java
  de.dlr.sc.virsat.project/src/de/dlr/sc/virsat/project/resources/command/AssignDisciplineCommand.java
  de.dlr.sc.virsat.project/src/de/dlr/sc/virsat/project/structure/VirSatProjectCommons.java
  de.dlr.sc.virsat.project/src/de/dlr/sc/virsat/project/structure/nature/VirSatProjectNature.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/VirSatServerApplication.java
  de.dlr.sc.virsat.test/src/de/dlr/sc/virsat/test/ProjectAllTest.java
  de.dlr.sc.virsat.uiengine.ui/src/de/dlr/sc/virsat/uiengine/ui/editor/snippets/general/UiSnippetIDisciplineAssignment.java
Labels: Server, feature
