Repository virtualsatellite/VirtualSatellite4-Core, pull requests merged in 2021-01, with the labels that each got.

#906 Fixed race condition in NonDVLMResource Test
  de.dlr.sc.virsat.model.extension.tests.test/src/de/dlr/sc/virsat/project/editingDomain/VirSatTransactionalEditingDomainNonDVLMTest.java
Labels: build, quality

#909 Updating Github Actions workflow to use Virtual Satellite actions
  .github/workflows/main.yml
  README.md
  apt_vtk_zmq_packages
  bash/deploy_sourceforge.sh
  bash/github_release.sh
  bash/maven_build.sh
  bash/setup.sh
  bash/setup_environment.sh
  bash/ssh-add-password.sh
  bash/verify_commit_authors.sh
  de.dlr.sc.virsat.external.lib.feature/feature.xml
  de.dlr.sc.virsat.product/pom.xml
  maven/pom.xml
  pom.xml
Labels: build

#914 Updated apache POI to 3.17 - (Task #913)
  de.dlr.sc.virsat.external.lib.apache.poi/.classpath
  de.dlr.sc.virsat.external.lib.apache.poi/META-INF/MANIFEST.MF
  de.dlr.sc.virsat.external.lib.apache.poi/about.html
  de.dlr.sc.virsat.external.lib.apache.poi/about_files/THIRD-PARTY.txt
  de.dlr.sc.virsat.external.lib.apache.poi/build.properties
  de.dlr.sc.virsat.external.lib.apache.poi/externalLib/maven/commons-collections4.jar
  de.dlr.sc.virsat.external.lib.apache.poi/pom.xml
  de.dlr.sc.virsat.uiengine.ui/src/de/dlr/sc/virsat/uiengine/ui/excel/ExcelExporter.java
Labels: quality

#922 Updated Development Build Schedule
  .github/workflows/main.yml
Labels: build

#920 Improving Test Execution in IDE
  de.dlr.sc.virsat.model.concept.test/src/de/dlr/sc/virsat/model/concept/test/AllTests.java
  de.dlr.sc.virsat.model.extension.tests.test/src/de/dlr/sc/virsat/model/extension/tests/test/AllTests.java
Labels: quality

#908 Added Swagger Annotations and a Documentation Resource
  de.dlr.sc.virsat.docs.feature/feature.xml
  de.dlr.sc.virsat.docs.feature/src/docs/VirSat_Core_Server_Manual.adoc
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/ABeanObject.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/category/ABeanCategoryAssignment.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/category/BeanCategoryAssignment.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/ABeanProperty.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/ABeanUnitValueProperty.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/ABeanValueProperty.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/BeanPropertyBoolean.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/BeanPropertyComposed.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/BeanPropertyEnum.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/BeanPropertyFloat.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/BeanPropertyInt.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/BeanPropertyReference.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/BeanPropertyResource.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/BeanPropertyString.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/structural/ABeanStructuralElementInstance.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/structural/BeanStructuralElementInstance.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/DocumentationResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/test/AllTests.java
  de.dlr.sc.virsat.server/build.properties
  de.dlr.sc.virsat.server/doc-gen/definitions.adoc
  de.dlr.sc.virsat.server/doc-gen/management/definitions.adoc
  de.dlr.sc.virsat.server/doc-gen/management/overview.adoc
  de.dlr.sc.virsat.server/doc-gen/management/paths.adoc
  de.dlr.sc.virsat.server/doc-gen/management/security.adoc
  de.dlr.sc.virsat.server/doc-gen/management/swagger.json
  de.dlr.sc.virsat.server/doc-gen/management/swagger.yaml
  de.dlr.sc.virsat.server/doc-gen/model/definitions.adoc
  de.dlr.sc.virsat.server/doc-gen/model/overview.adoc
  de.dlr.sc.virsat.server/doc-gen/model/paths.adoc
  de.dlr.sc.virsat.server/doc-gen/model/security.adoc
  de.dlr.sc.virsat.server/doc-gen/model/swagger.json
  de.dlr.sc.virsat.server/doc-gen/model/swagger.yaml
  de.dlr.sc.virsat.server/doc-gen/paths.adoc
  de.dlr.sc.virsat.server/doc-gen/swagger.json
  de.dlr.sc.virsat.server/doc-gen/swagger.yaml
  de.dlr.sc.virsat.server/pom.xml
  de.dlr.sc.virsat.server/src-maven/model.substitution
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/configuration/RepositoryConfiguration.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/DocumentationResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/ModelAccessResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/ProjectManagementResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/servlet/RepoManagementServlet.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/servlet/VirSatModelAccessServlet.java
Labels: Server, feature

#870 Added CorsFilter to handle CORS requests
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/AuthTestResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/test/AJettyServerTest.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/auth/filter/CorsFilter.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/servlet/VirSatModelAccessServlet.java
Labels: Server, feature

#924 Fixed deployed tar file generation for fixing executable permissions
  .github/workflows/main.yml
  de.dlr.sc.virsat.product/pom.xml
  launchers/VirSat Core Build Development (Deploy Unsecured).launch
Labels: build

#927 Made bean SEI use reference instead of deep nesting
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/structural/ABeanStructuralElementInstance.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/structural/BeanStructuralElementInstanceReference.java
  de.dlr.sc.virsat.model.extension.tests.test/resources/json/TestStructuralElementInstance_Marshaling.json
  de.dlr.sc.virsat.server/doc-gen/model/definitions.adoc
  de.dlr.sc.virsat.server/doc-gen/model/paths.adoc
  de.dlr.sc.virsat.server/doc-gen/model/swagger.json
  de.dlr.sc.virsat.server/doc-gen/model/swagger.yaml
  de.dlr.sc.virsat.server/src-maven/model.substitution
Labels: Server, bug

#929 Activated Server authentication
  de.dlr.sc.virsat.docs.feature/src/docs/VirSat_Core_Server_Manual.adoc
  de.dlr.sc.virsat.server.test/resources/test_users.properties
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/AuthTestResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/DocumentationResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/ModelAccessResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/ProjectManagementResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/test/AJettyServerTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/test/AllTests.java
  de.dlr.sc.virsat.server/doc-gen/management/paths.adoc
  de.dlr.sc.virsat.server/doc-gen/management/security.adoc
  de.dlr.sc.virsat.server/doc-gen/management/swagger.json
  de.dlr.sc.virsat.server/doc-gen/management/swagger.yaml
  de.dlr.sc.virsat.server/doc-gen/model/paths.adoc
  de.dlr.sc.virsat.server/doc-gen/model/security.adoc
  de.dlr.sc.virsat.server/doc-gen/model/swagger.json
  de.dlr.sc.virsat.server/doc-gen/model/swagger.yaml
  de.dlr.sc.virsat.server/pom.xml
  de.dlr.sc.virsat.server/resources/server.properties
  de.dlr.sc.virsat.server/src-maven/securityDefinitions.json
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/auth/filter/DynamicRepositoryFilterBinding.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/auth/filter/RepositoryFilter.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/configuration/ServerConfiguration.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/AuthTestResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/DocumentationResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/ModelAccessResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/ProjectManagementResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/servlet/RepoManagementServlet.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/servlet/VirSatModelAccessServlet.java
Labels: Server, feature
