Repository virtualsatellite/VirtualSatellite4-Core, pull requests merged in 2021-02, with the labels that each got.

#933 Add SVG support for exporting Graphiti diagrams
  de.dlr.sc.virsat.docs.feature/docs/VirSat_Core_ReleaseNotes.txt
  de.dlr.sc.virsat.product/virsat_core.product
  de.dlr.sc.virsat.target/tmodel-src/virsat.tmodel
  de.dlr.sc.virsat.target/virsat_linux.target
  de.dlr.sc.virsat.target/virsat_windows.target
  launchers/VirSat Core Application (user).launch
Labels: feature

#926 Removed wait statement on notifications in test case
  de.dlr.sc.virsat.model.extension.tests.test/src/de/dlr/sc/virsat/project/editingDomain/VirSatTransactionalEditingDomainNonDVLMTest.java
Labels: quality

#931 Improved Server synchronization
  de.dlr.sc.virsat.project/src/de/dlr/sc/virsat/project/structure/VirSatProjectCommons.java
  de.dlr.sc.virsat.server.test/META-INF/MANIFEST.MF
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/dataaccess/TransactionalJsonProviderTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/repository/ServerRepositoryTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/ModelAccessResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/test/AServerRepositoryTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/test/VersionControlTestHelper.java
  de.dlr.sc.virsat.server/doc-gen/model/paths.adoc
  de.dlr.sc.virsat.server/doc-gen/model/swagger.json
  de.dlr.sc.virsat.server/doc-gen/model/swagger.yaml
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/dataaccess/TransactionalJsonProvider.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/repository/ServerRepository.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/ModelAccessResource.java
  de.dlr.sc.virsat.team.test/src/de/dlr/sc/virsat/team/AVirSatVersionControlBackendTest.java
  de.dlr.sc.virsat.team.test/src/de/dlr/sc/virsat/team/VersionControlUpdateResultTest.java
  de.dlr.sc.virsat.team.test/src/de/dlr/sc/virsat/team/test/AllTests.java
  de.dlr.sc.virsat.team/src/de/dlr/sc/virsat/team/IVirSatVersionControlBackend.java
  de.dlr.sc.virsat.team/src/de/dlr/sc/virsat/team/VersionControlChange.java
  de.dlr.sc.virsat.team/src/de/dlr/sc/virsat/team/VersionControlChangeType.java
  de.dlr.sc.virsat.team/src/de/dlr/sc/virsat/team/VersionControlUpdateResult.java
  de.dlr.sc.virsat.team/src/de/dlr/sc/virsat/team/git/VirSatGitVersionControlBackend.java
  de.dlr.sc.virsat.team/src/de/dlr/sc/virsat/team/svn/VirSatSvnVersionControlBackend.java
Labels: Server, bug

#911 Origin/feature/task 907 external command runner
  de.dlr.sc.virsat.commons.test/src/de/dlr/sc/virsat/commons/command/ProcessInteractionTest.java
  de.dlr.sc.virsat.commons/META-INF/MANIFEST.MF
  de.dlr.sc.virsat.commons/src/de/dlr/sc/virsat/commons/external/ProcessInteraction.java
Labels: feature

#944 Fixed critical server bugs for release
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/auth/filter/CorsFilter.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/repository/ServerRepoHelper.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/servlet/RepoManagementServlet.java
  de.dlr.sc.virsat.team/src/de/dlr/sc/virsat/team/git/VirSatGitVersionControlBackend.java
Labels: Server, bug, release

#946 Added missing adapter to TransactionalJsonProvider - (Task #945)
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/ModelAccessResourceTest.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/dataaccess/TransactionalJsonProvider.java
Labels: Server, bug, release

#951 Added delete endpoints to server
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/ModelAccessResourceTest.java
  de.dlr.sc.virsat.server/doc-gen/model/paths.adoc
  de.dlr.sc.virsat.server/doc-gen/model/swagger.json
  de.dlr.sc.virsat.server/doc-gen/model/swagger.yaml
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/ModelAccessResource.java
Labels: Server, feature
