Repository virtualsatellite/VirtualSatellite4-Core, pull requests merged in 2021-04, with the labels that each got.

#978 Updated sourceforge ssh key
  id_ed25519.enc
Labels: build, quality

#965 Added concept endpoint to server
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/dataaccess/ServerConceptTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/ModelAccessResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/test/AllTests.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/dataaccess/ServerConcept.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/ModelAccessResource.java
Labels: Server, feature

#955 Refactored ModelAccessResource
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/auth/filter/CorsFilterTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/AModelAccessResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/ModelAccessResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/modelaccess/CategoryAssignmentResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/modelaccess/PropertyResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/resources/modelaccess/StructuralElementInstanceResourceTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/test/AJerseyTest.java
  de.dlr.sc.virsat.server.test/src/de/dlr/sc/virsat/server/test/AllTests.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/auth/filter/DynamicRepositoryFilterBinding.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/dataaccess/RepositoryUtility.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/ApiErrorHelper.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/ModelAccessResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/modelaccess/CategoryAssignmentResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/modelaccess/PropertyResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/modelaccess/StructuralElementInstanceResource.java
Labels: Server, quality

#987 Add ReqIF test files to build includes
  de.dlr.sc.virsat.model.extension.requirements.test/build.properties
Labels: build
