Repository virtualsatellite/VirtualSatellite4-Core, pull requests merged in 2022-02, with the labels that each got.

#1049 Expose new unit bean for enum properties - (Task #1048)
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/property/BeanPropertyEnum.java
  de.dlr.sc.virsat.model.extension.tests.test/resources/json/TestCategoryAllProperty_Marshaling.json
  de.dlr.sc.virsat.model.extension.tests.test/resources/json/TestCategoryAllProperty_Marshaling_Defaults.json
  de.dlr.sc.virsat.model.extension.tests.test/resources/json/TestCategoryCompositionArray_Marshaling.json
  de.dlr.sc.virsat.model.extension.tests.test/resources/json/TestCategoryCompositionArray_Marshaling_NullComposition.json
  de.dlr.sc.virsat.model.extension.tests.test/resources/json/TestCategoryComposition_Marshaling.json
Labels: bug

#1041 Added server API version numbers to release issue template
  .github/ISSUE_TEMPLATE/release.md
Labels: release

#1064 Fixed Checkstyle Issues due to new Checkstyle 9.1 in IDE 4.14
  de.dlr.sc.virsat.apps.test/src/de/dlr/sc/virsat/apps/test/AllTests.java
  de.dlr.sc.virsat.excel.test/src/de/dlr/sc/virsat/excel/test/AllTests.java
  de.dlr.sc.virsat.model.calculation.test/src/de/dlr/sc/virsat/model/calculation/test/AllTests.java
  de.dlr.sc.virsat.model.concept.test/src/de/dlr/sc/virsat/model/concept/test/AllTests.java
  de.dlr.sc.virsat.model.edit.test/src/de/dlr/sc/virsat/model/edit/test/AllTests.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/qudv/ABeanConversionBasedUnit.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/qudv/ABeanQuantityKind.java
  de.dlr.sc.virsat.model.edit/src/de/dlr/sc/virsat/model/concept/types/qudv/ABeanUnit.java
  de.dlr.sc.virsat.model.extension.budget.mass.test/src/de/dlr/sc/virsat/model/extension/budget/mass/test/AllTests.java
  de.dlr.sc.virsat.model.extension.budget.power.test/src/de/dlr/sc/virsat/model/extension/budget/power/test/AllTests.java
  de.dlr.sc.virsat.model.extension.maturity.test/src/de/dlr/sc/virsat/model/extension/maturity/test/AllTests.java
  de.dlr.sc.virsat.model.extension.mechanical.test/src/de/dlr/sc/virsat/model/extension/mechanical/test/AllTests.java
  de.dlr.sc.virsat.model.extension.ps.test/src/de/dlr/sc/virsat/model/extension/ps/test/AllTests.java
  de.dlr.sc.virsat.model.extension.requirements.test/src/de/dlr/sc/virsat/model/extension/requirements/test/AllTests.java
  de.dlr.sc.virsat.model.extension.requirements.ui/src/de/dlr/sc/virsat/model/extension/requirements/ui/celleditor/RequirementTraceEditingSupport.java
  de.dlr.sc.virsat.model.extension.requirements.ui/src/de/dlr/sc/virsat/model/extension/requirements/ui/celleditor/RequirementTraceTargetEditingSupport.java
  de.dlr.sc.virsat.model.extension.statemachines.test/src/de/dlr/sc/virsat/model/extension/statemachines/test/AllTests.java
  de.dlr.sc.virsat.model.extension.tests.edit.test/src/.empty_folder
  de.dlr.sc.virsat.model.extension.thermal.test/src/de/dlr/sc/virsat/model/extension/thermal/test/AllTests.java
  de.dlr.sc.virsat.model.extension.thermal.ui/resources/icons/ComponentMeshSize.gif
  de.dlr.sc.virsat.model.extension.thermal.ui/resources/icons/ComponentMeshSize_disabled.gif
  de.dlr.sc.virsat.model.extension.thermal.ui/resources/icons/ThermalData_disabled.gif
  de.dlr.sc.virsat.model.extension.visualisation.ui/src/de/dlr/sc/virsat/model/extension/visualisation/ui/cellEditorSupport/VisValuePropertyCellEditingSupport.java
  de.dlr.sc.virsat.model.test/src/de/dlr/sc/virsat/model/test/AllTests.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/ModelAccessResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/ProjectManagementResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/modelaccess/CategoryAssignmentResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/modelaccess/DisciplineResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/modelaccess/PropertyResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/modelaccess/QudvResource.java
  de.dlr.sc.virsat.server/src/de/dlr/sc/virsat/server/resources/modelaccess/StructuralElementInstanceResource.java
  de.dlr.sc.virsat.test.feature/feature.xml
  de.dlr.sc.virsat.test/src/de/dlr/sc/virsat/test/ProjectAllTest.java
  launchers/VirSat Core Build Development Surefire.launch
  maven/pom.xml
Labels: quality, build
